<h4>{{ user?.login }}</h4>
<button (click)="onLogout()">Logout</button>

<a [routerLink]="['/home/dashboard/4']">Dashboard</a>
<br>
<a [routerLink]="['/home/news']">News</a>
<br>
<a [routerLink]="['/users']">Users</a>
